body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #663399;
}

h2 {
    color: #4a4a4a;
}

img {
    width: 100px;
    height: auto;
    cursor: pointer;
    margin-top: 20px;
}

img:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}
